<form [formGroup]="dictionaryForm" (ngSubmit)="save()">
  <div class="field p-fluid">
    <label for="name">Name</label>
    <input pInputText id="name" type="text" formControlName="name" aria-describedby="username-help" [class.ng-invalid]="dictionaryForm.get('name')?.invalid" [class.ng-dirty]="dictionaryForm.get('name')?.touched"  />
    <small id="username-help" class="p-error" *ngIf="dictionaryForm.get('name')?.invalid && dictionaryForm.get('name')?.touched && dictionaryForm.get('name')?.errors?.['required']">
      Field is required.
    </small>
  </div>
</form>
<div class="flex justify-content-end">
  <button pButton label="Cancel" class="p-button-outlined mr-3" (click)="cancel()"></button>
  <button pButton label="Save" (click)="save()" [loading]="saving"></button>
</div>
