<div class="min-h-screen flex surface-ground">
  <div id="app-sidebar-2" class="bg-bluegray-800 h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 select-none" style="width:280px">
    <div class="flex flex-column h-full">
      <div class="overflow-y-auto mt-3">
        <ul class="list-none p-3 m-0">
          <li>
            <a pRipple [routerLink]="['/']" [routerLinkActive]="'text-bluegray-900 bg-bluegray-300'" [routerLinkActiveOptions]="{exact: true}" class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors no-underline">
              <span class="font-medium">Home</span>
            </a>
          </li>
          <li>
            <a pRipple [routerLink]="['/', 'dictionary']" [routerLinkActive]="'text-bluegray-900 bg-bluegray-300'" class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors no-underline">
              <span class="font-medium">Dictionary</span>
            </a>
          </li>
          <li>
            <a pRipple [routerLink]="['/', 'usage']" [routerLinkActive]="'text-bluegray-900 bg-bluegray-300'" class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors no-underline">
              <span class="font-medium">Use of dictionary</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="min-h-screen flex flex-column relative flex-auto">
    <div class="p-5 flex flex-column flex-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
